{
    "flows": [
        {
            "filePattern": "/var/run/rsyslog/messages",
            "deliveryStream": "automox-test-kstream-cb",
            "firehose.endpoint": "firehose.us-west-2.amazonaws.com",
            "assumeRoleARN": "firehose_delivery_role",
            "awsAccessKeyId": "${AWS_ACCESS_KEY_ID}",
            "awsSecretAccessKey": "${AWS_SECRET_ACCESS_KEY}"
        }
    ]
}
